.light {
    --background-color: #f4f4f1;
    --font-color: #363030;
    --green: #00796b;
    --warning: #c62828;
    --timestamp-color: #696969;
}

.dark {
    --background-color: #363030;
    --font-color: #f4f4f1;
    --green: #80cbc4;
    --warning: #e57373;
    --timestamp-color: #ccccb3;
}
